<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GoodNote App</title>
  <link rel="stylesheet" href="/docs/css/test.css">

</head>

<body>

	<header id="header">
	  <h1><strong><a href="home">GOODNOTE</a></strong></h1>
		<nav id="nav">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="activity">Activity</a></li>
				<li><a href="notes">Notes</a></li>
        <li><a href="login">Login</a></li>
			</ul>
		</nav>
	</header>

  <div class="login-page">
    <form class="login-form">
      <input placeholder="Username">
      <input placeholder="Password">
      <button>Login</button>
    </form>
  </div>

  </body>